:root{
    --cor-de-fundo:#A06C61;
    --cor-texto:#000000;
    --cor-ativa:#57C3FF;
    --cor-inativo:#3A375E;
    --cor-aba:#ffdca7;
    --cor-borda:#efefef9c;
}
body{
    background-color: var(--cor-de-fundo);
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
    }
.botao{
    font-family: "Archivo Black", sans-serif;
    color:var(--cor-texto);
    background-color: var(--cor-borda);
    border-color: var(--cor-inativo);
    border-color: var(--cor-borda);
    width: 200px;
    height: 80px;
    align-self: auto;
    border-radius: 30px;
    border-top-right-radius: 20px;
}
