:root{
    --cor-de-fundo:#ffe58f;
    --cor-texto:#000000;
    --cor-ativa:#e9f811;
    --cor-inativo:#3A375E;
    --cor-aba:#fffd7c;
    --cor-borda:#e2c231;
    --cor-ativado:#ffcb1f;
}
body{
    background-color: var(--cor-de-fundo);
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal span{
    color: var(--cor-aba);
}
.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
    
    }
.botao{
    font-family: "Archivo Black", sans-serif;
    background-color: var(--cor-borda);
    color:var(--cor-texto);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--cor-ativa);
    border-left: 2px solid var(--cor-ativa);
    border-right: 2px solid var(--cor-ativa);
    border-top: none;
    
}
.botao:first-child{
    border-radius: 40px 40px 0 0;
}
.botoes{
    display: flex;
}
.ativo{
    background-color: var(--cor-ativa);
    border-bottom: 4px solid var(--cor-ativado);
}
@media screen and (min-width: 768px) {
    .botoes{
        display: flex;
    }
    .botao:first-child{
        border-radius: 40px 0 0 0;
    }
    .botao:last-child{
        border-radius: 0 40px 0 0;
    }
}
